%tr
  %td.gem_name&= link_to(rg.rubygem.name, 'http://rubygems.org/gems/' + rg.rubygem.name)
  %td= truncate(rg.rubygem.info)
  %td= rg.machine_count
  %td= rg.platform_count
  %td= rg.version_list
  %td= rg.rubygem.latest_version
