#rubygem
  %h1&= @rubygem.name
  = link_to('Rubygems.org Page', "https://rubygems.org/gems/#{@rubygem.name}")
  %hr
  %h3 It does what now?
  &= @rubygem.info
  - gs = gem_stats(@rubygem)
  %table#stats.rounded-corners.box-shadow
    %tr{ :align => 'center' }
      %td Latest Version
      - gs.keys.each do |k|
        %td&= k
    %tr{ :align => 'center' }
      %td&= @rubygem.latest_version
      - gs.keys.each do |k|
        %td&= number_with_delimiter(gs[k])