<div id="quickstart" class="rounded-corners">
  <h1>Quick Start:</h1>
  <p>1. Navigate to project (or projects) folder.</p>
  <p>2. Run the commands below (install gem/run scan).</p>
  <div id="black_box">
    <pre>
      
    > cd rails/projects
    > gem install gemrage
    > gem scan .
    </pre>
  </div>
  <p>2. A Internet Explorer / Firefox / Chrome browser will open.</p>
  <p>3. Signup and start sharing!</p>
  
</div>

<div id="os_pos">
  <ul class="os">
    <li>Compatibility: </li>
    <li><%= image_tag 'windows.gif', :height => "2.2%"%> Windows
        <%= image_tag 'check.png', :height => "1.9%"%> <li>
    <li><%= image_tag 'linux.gif', :height => "2.2%"%> Linux
        <%= image_tag 'check.png', :height => "1.9%"%> <li>
    <li><%= image_tag 'mac.jpg', :height => "2.2%"%> Macintosh
        <%= image_tag 'check.png', :height => "1.9%"%> <li>
   </ul>
</div>

<div id="information" class="rounded-corners">
  <h1>Gem Rage gives you the ability to:</h1>
  <ul>
    <li>Share project gem lists</li>
    <li>Check to see what gems need to be updated</li> 
    <li>Learn about gems installed within your projects</li>
  </ul>
  
  <h1>Worried about privacy with Gem Rage? Don't!</h1>
    <ul>
      <li>You can delete projects that you don't want shared</li>
      <li>You can rename projects so you don't display your repository name</li> 
    </ul>
</div>

