<div id="quickstart" class="rounded-corners">
  <h1>Quick Start:</h1>
  <p>Navigate to project (or projects) folder.</p>
       
  <div id="black_box">
    adfasdf
    
  </div>
  <p>A Internet Explorer / Firefox / Chrome broswer will open.
       Signup and start sharing!</p>
  
</div>

<div id="os_pos">
  <ul class="os">
    <li>Compatibility: </li>
    <li><%= image_tag 'windows.gif', :height => "2.2%"%> Windows
        <%= image_tag 'check.png', :height => "1.9%"%> <li>
    <li><%= image_tag 'linux.gif', :height => "2.2%"%> Linux
        <%= image_tag 'check.png', :height => "1.9%"%> <li>
    <li><%= image_tag 'mac.jpg', :height => "2.2%"%> Macintosh
        <%= image_tag 'check.png', :height => "1.9%"%> <li>
   </ul>
</div>

<div id="information" class="rounded-corners">
  <p>Gem Rage gives you the ability to:</p>
  <ul>
    <li>Share project gem lists
    <li>Check to see what gems need to be updated 
    <li>Learn about gems installed within your projects
  </ul>
  

  <p>Gem Rage</p>
    <ul>
    <li>Share project gem lists
    <li>Check to see what gems need to be updated 
    <li>Learn about gems installed within your projects
  </ul>
</div>

