<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Gemrage</title>
    <%= render 'layouts/stylesheets' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <%= javascript_include_tag :defaults , :cache => true%>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div id="nav">
      <%= render 'shared/auth_nav' %>
    </div>
    <div id="container" class="rounded-corners box-shadow">
      <div class='inner rounded-corners'>
<% [:info, :error].each do |key| %>
   <% if flash[key] %>
   <% end %>
 <% end %>
        
        <% [:info, :notice, :error].each do |key| %>
          <% if flash[key] %>
            <div class="flash <%= key %>">
              <%= flash[key] %>
            </div>
          <% end %>
        <% end %>
        <%= yield %>
      </div>
    </div>
      <%= render 'layouts/footer' %>
      <%= raw(google_analytics) %>
  </body>

  <script type="text/javascript">
    var rumbleUrl = 'http://railsrumble.com';
  </script>
  <script type="text/javascript" src="http://blog.railsrumble.com/javascripts/rumble-r10-sash.js"></script>
</html>
